@import "../../assets/sass/variables.scss";

.services {
  @media (min-width: $large-viewport-width) {
    margin-bottom: 110px;
  }
}

.services__tabs-wrapper {
  display: none;

  @media (min-width: $large-viewport-width) {
    display: block;
  }
}

.services__pagination-bullet {
  position: relative;
  top: -7px;
  left: 3px;
  display: inline-block;
  margin-right: 6px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: $color-accent-1;

  @media (min-width: $medium-viewport-width) {
    top: -2px;
    left: 4px;
    margin-right: 8px;
    width: 8px;
    height: 8px;
  }

  @media (min-width: $large-viewport-width) {
    display: none;
  }

  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

.services__pagination-bullet--active {
  background-color: $color-light-6;
}
