@import "../../assets/sass/variables.scss";

.home {
  margin: 0;
  margin-bottom: 56px;
  padding: 0;

  @media (min-width: $medium-viewport-width) {
    margin-bottom: 76px;
  }

  @media (min-width: $large-viewport-width) {
    margin-bottom: 107px;
  }
}

.home__services {
  margin-bottom: 42px;

  @media (min-width: $medium-viewport-width) {
    margin-bottom: 67px;
  }

  @media (min-width: $large-viewport-width) {
    margin-bottom: 95px;
  }
}

.home__calculator {
  margin-bottom: 52px;

  @media (min-width: $medium-viewport-width) {
    margin-bottom: 67px;
  }

  @media (min-width: $large-viewport-width) {
    margin-bottom: 62px;
  }
}
