@import "../../assets/sass/variables.scss";

.tab-slide {
  box-sizing: border-box;
  margin: 0;
  min-height: 362px;
  background-color: $color-light-4;
  padding: 0;
  padding-top: 54px;
  padding-bottom: 60px;

  @media (min-width: $large-viewport-width) {
    margin-left: auto;
    margin-right: auto;
    min-height: 380px;
    padding-top: 52px;
    width: (($large-viewport-width - $large-viewport-padding * 2) / $large-viewport-width * 100%);
    max-width: $extra-large-viewport-width - $large-viewport-padding * 2;
  }
}

.tab-slide__wrapper{
  box-sizing: border-box;

  @media (min-width: $large-viewport-width) {
    margin: 0;
    padding-left: 70px;
    width: 100%;
  }
}

.tab-slide__container {
  display: grid;
}

.tab-slide__main-container {
  z-index: 1;
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  @media (min-width: $medium-viewport-width) {
    width: 53%;
  }

  @media (min-width: $large-viewport-width) {
    width: 36%;
  }
}

.tab-slide--online-services .tab-slide__main-container {
  @media (min-width: $large-viewport-width) {
    width: 45%;
  }
}

.tab-slide__title {
  margin: 0;
  margin-bottom: 21px;
  padding: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;

  @media (min-width: $medium-viewport-width) {
    margin-bottom: 24px;
    font-size: 18px;
    line-height: 25px;
  }

  @media (min-width: $large-viewport-width) {
    margin-bottom: 29px;
    font-size: 22px;
    line-height: 31px;
  }
}

.tab-slide__list {
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
  width: 80%;
  list-style: none;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $medium-viewport-width) {
    margin-bottom: 30px;
    width: 100%;
    font-size: 16px;
    line-height: 21px;
  }

  @media (min-width: $large-viewport-width) {
    margin-bottom: 35px;
    font-size: 18px;
    line-height: 23px;
  }
}

.tab-slide--custom .tab-slide__list {
  @media (min-width: $medium-viewport-width) {
    margin-bottom: 28px;
  }

  @media (min-width: $large-viewport-width) {
    margin-bottom: 27px;
  }
}

.tab-slide--online-services .tab-slide__list {
  width: 209px;

  @media (min-width: $medium-viewport-width) {
    width: 317px;
  }

  @media (min-width: $large-viewport-width) {
    width: 355px;
  }
}


.tab-slide__list-item {
  position: relative;
  padding-left: 15px;

  &::before {
    position: absolute;
    top: 5px;
    left: -1px;
    width: 10px;
    height: 8px;
    background-image: url("./mark.svg");
    background-size: 10px 8px;
    content: "";
  }

 &:not(:last-child) {
    margin-bottom: 12px;
  }

  @media (min-width: $medium-viewport-width) {
    padding-left: 21px;

    &::before {
      top: 6px;
      width: 13px;
      height: 10px;
      background-size: 13px 10px;
    }

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    &:first-child {
      margin-bottom: 15px;
    }

    &:last-child {
      &::before {
        top: 6px;
      }
    }
  }

}

.tab-slide__img-container {
  position: relative;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  text-align: right;
}
