@import "../../assets/sass/variables.scss";

.input {
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid $color-dark;
  border-radius: 4px;
  padding: 17px 50px 18px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: $color-dark;
  text-align: center;
  appearance: none;

  @media (min-width: $large-viewport-width) {
    padding-bottom: 16px;
    font-size: 18px;
    line-height: 25px;
  }
}
