@import "../../assets/sass/variables.scss";

.calculator-step2__title {
  margin: 0;
  margin-bottom: 9px;

  @media (min-width: $medium-viewport-width) {
    margin-bottom: 19px;
  }

  @media (min-width: $large-viewport-width) {
    margin-bottom: 23px;
  }
}

.calculator-step2__price {
  margin: 0;
  margin-bottom: 10px;
}

.calculator-step2__first-payment {
  margin: 0;
}
