.page {
  margin: 0;
  padding: 0;
  height: 100%;
}

.page__body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-weight: 400;
}

.page__framework-container {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

.page__header {
  margin: 0 0 75px 0;
}
