.notification-screen {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.notification-screen__title {
  margin: 0;
  padding: 50px;
  width: 600px;
  font-size: 32px;
  font-weight: 700;
  line-height: 57.4px;
  text-align: center;
}
