@import "../../assets/sass/variables.scss";

.form-field-base {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.form-field-base__label {
  align-self: flex-start;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 22px;
  color: $color-dark-2;
}

.form-field-base__input {
  margin-bottom: 6px;
}

.form-field-base__input-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form-field-base__input-alert {
  position: absolute;
  top: 0;
  left: 5%;
  font-size: 12px;
  line-height: 20px;
  color: $color-alert;
}


