@import "../../assets/sass/variables.scss";

.calclulator {
  padding: 0;
}

.calculator__form {

  @media (min-width: $large-viewport-width) {
    display: grid;
    grid-template-columns: minmax(300px, 51.2%) minmax(500px, 1fr);
    grid-template-areas:
      "step1 proposition"
      "step2 proposition"
      "step3 step3";
    column-gap: 70px;
    align-items: start;
  }
}

.calculator__title {
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 31px;

  @media (min-width: $medium-viewport-width) {
    margin-bottom: 29px;
    font-weight: 700;
    font-size: 32px;
    line-height: 45px;
  }

  @media (min-width: $large-viewport-width) {
    margin-bottom: 49px;
    font-weight: 700;
    font-size: 41px;
    line-height: 57px;
  }
}

.calculator__step1 {
  margin-bottom: 26px;

  @media (min-width: $medium-viewport-width) {
    margin-bottom: 33px;
  }

  @media (min-width: $large-viewport-width) {
    grid-area: step1;
  }
}

.calculator__step2 {
  margin-bottom: 30px;

  @media (min-width: $medium-viewport-width) {
    margin-bottom: 39px;
  }

  @media (min-width: $large-viewport-width) {
    grid-area: step2;
    margin-bottom: 65px;
  }
}

.calculator__step2-alert,
.calculator__step2-proposition {
  margin-bottom: 43px;

  @media (min-width: $medium-viewport-width) {
    margin-bottom: 55px;
  }

  @media (min-width: $large-viewport-width) {
    position: relative;
    top: 8px;
    grid-area: proposition;
  }
}

.calculator__step3 {
  grid-area: step3;
}
