@import "../../assets/sass/variables.scss";

.calculator-step1__title {
  margin: 0;
  margin-bottom: 15px;

  @media (min-width: $medium-viewport-width) {
    margin-bottom: 19px;
  }

  @media (min-width: $large-viewport-width) {
    margin-bottom: 23px;
  }
}
