@import "../../assets/sass/variables.scss";

.calculator-step1 {
  @media (min-width: $large-viewport-width) {
    width: 51.2%;
  }
}

.calculator-step1__title {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;

  @media (min-width: $medium-viewport-width) {
    margin-bottom: 19px;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
  }

  @media (min-width: $large-viewport-width) {
    margin-bottom: 23px;
    font-size: 22px;
    line-height: 31px;
  }
}
