@import "../../assets/sass/variables.scss";

.promo-find-us {
  display: grid;
  grid-template-columns: minmax(0, auto);
  grid-template-rows: minmax(0, auto);
  margin: 0;
  height: 226px;
  background-color: $color-light-3;
  padding: 0;
  overflow: hidden;

  @media (min-width: $medium-viewport-width) {
    min-height: 300px;
  }

  @media (min-width: $large-viewport-width) {
    min-height: 400px;
  }
}

.promo-find-us__wrapper {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  z-index: 2;
}

.promo-find-us__container {
  padding-top: 37px;
  padding-bottom: 35px;
  width: 70%;

  @media (min-width: $medium-viewport-width) {
    padding-top: 63px;
    padding-left: 42px;
    width: 60%;
  }

  @media (min-width: $large-viewport-width) {
    padding-top: 102px;
    padding-left: 170px;
    width: 34%;
  }
}

.promo-find-us__title {
  margin: 0;
  margin-bottom: 9px;
  padding: 0;
  font-weight: 700;
  font-size: 38px;
  line-height: 45px;
  color: $color-dark;

  @media (min-width: $medium-viewport-width) {
    margin-bottom: 8px;
    font-size: 46px;
    line-height: 54px;
  }

  @media (min-width: $large-viewport-width) {
    margin-bottom: 7px;
    font-size: 54px;
    line-height: 63px;
  }
}

.promo-find-us__description {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-size: 16px;
  line-height: 19px;
  color: $color-dark-5;

  @media (min-width: $medium-viewport-width) {
    margin-bottom: 29px;
    font-size: 18px;
    line-height: 21px;
  }

  @media (min-width: $large-viewport-width) {
    margin-bottom: 36px;
    font-size: 22px;
    line-height: 26px;
  }
}

.promo-find-us__button {
  background-color: $color-accent;
  border-radius: 4px;
  padding: 14px 38px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: $color-light;
  text-align: center;

  @media (min-width: $medium-viewport-width) {
    padding: 15px 39px;
    font-size: 16px;
    line-height: 19px;
  }

  @media (min-width: $large-viewport-width) {
    padding-top: 15px;
    padding-bottom: 17px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 18px;
    line-height: 21px;
  }
}

.promo-find-us__img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  justify-self: end;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  z-index: 1;
}

.promo-find-us__img {
  position: relative;
  left: 168px;
  width: 772px;
  height: 226px;
  object-fit: contain;

  @media (min-width: $small-viewport-width-1) {
    left: 126px;
  }

  @media (min-width: $small-viewport-width-2) {
    left: 36px;
  }

  @media (min-width: $medium-viewport-width) {
    left: 128px;
    width: 1025px;
    height: 300px;
  }

  @media (min-width: $medium-viewport-width-1) {
    left: 0;
  }

  @media (min-width: $large-viewport-width) {
    left: -1px;
    width: 1366px;
    height: 400px;
  }
}
