@import "../../assets/sass/variables.scss";

.range {
  padding: 0;
}

.range__label {
  display: block;

  &:hover .range__input::-webkit-slider-thumb {
    cursor: pointer;
    opacity: 0.7;
  }

  &:active .range__input::-webkit-slider-thumb {
    opacity: 0.5;
  }

}

.range__input {
  display: block;
  margin-bottom: 10px;
  background-color: $color-gray-1;
  width: 100%;
  height: 1px;
  appearance: none;

  &::-webkit-slider-thumb {
    appearance: none;
    border-radius: 50%;
    background-color: $color-accent;
    width: 14px;
    height: 14px;

    &:hover {
      cursor: pointer;
    }
  }
}

.range__text {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 14px;
  line-height: 20px;
  color: $color-gray;


  :first-child {
    width: 50%;
  }
}
