@import "../../assets/sass/variables.scss";

.header {
  padding-top: 18px;
  padding-bottom: 10px;
  background-color: $color-light;
  color: $color-dark;

  @media (min-width: $medium-viewport-width) {
    padding-top: 27px;
    padding-bottom: 15px;
  }

  @media (min-width: $large-viewport-width) {
    padding-bottom: 22px;
  }
}

.header--nav-opened {
  position: fixed;
  inset: 0;
  font-size: 16px;
  line-height: 19px;
}

.header__nav-open-button {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  margin-right: 13px;
  border: none;
  border-top: 1px solid $color-dark;
  border-bottom: 1px solid $color-dark;
  width: 16px;
  height: 11px;
  background-color: transparent;
  text-decoration: none;

  &::before {
    position: absolute;
    top: 4px;
    left: 0;
    background-color: $color-dark;
    width: 16px;
    height: 1px;
    content: "";
  }

  &:hover {
    cursor: pointer;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $medium-viewport-width) {
    display: none;
  }
}


.header__nav-close-button {
  display: none;
  border: none;
  padding: 0;
  width: 13px;
  height: 13px;
  background-color: transparent;

  &::before,
  &::after {
    display: block;
    position: absolute;
    top: 9px;
    left: 0;
    background-color: $color-dark;
    width: 18.4px;
    height: 2px;
    content: "";
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover {
    cursor: pointer;
  }

  &:active {
    opacity: 0.6;
  }
}

.header--nav-opened .header__nav-close-button {
  display: block;
  position: absolute;
  top: -6px;
  right: 3px;
}

.header__container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.header--nav-opened .header__container {
  @media (max-width: ($medium-viewport-width - 1)) {
    flex-direction: column;
    align-items: stretch;
  }
}

.header__logo-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.header--nav-opened .header__logo-container {
  position: relative;
  border-bottom: 1px solid $color-gray-1;
  padding-right: 50px;
  padding-bottom: 38px;
}

.header__main-nav {
  margin: 0;

  @media (min-width: $medium-viewport-width) {
    margin-right: 10px;
  }
}

.header__login-button {
  box-sizing: border-box;
  display: inline-block;
  margin-left: auto;
  border: none;
  padding: 0 0 0 14px;
  width: 14px;
  height: 16px;
  background-color: transparent;
  background-image: url('./login-icon.svg');
  background-repeat: no-repeat;
  background-size: 14px 16px;
  text-align: left;
  font-size: 16px;
  line-height: 19px;
  color: inherit;

  @media (min-width: $medium-viewport-width) {
    padding-left: 20px;
    width: 20px;
    height: 22px;
    background-image: url('./login-icon-large.svg');
    background-size: 20px 22px;
  }

  @media (min-width: $large-viewport-width) {
    padding-left: 30px;
    width: auto;
    min-height: 22px;
  }

  &:hover {
    cursor: pointer;
  }

  &:active {
    opacity: 0.6;
  }
}

.header__actions-list--nav-opened .header__login-button {
  background-image: url('./login-icon-large.svg');
  background-size: 20px 22px;
  padding-left: 30px;
  width: auto;
  min-height: 22px;
}

.header__login-button-text {
  display: none;

  @media (min-width: $large-viewport-width-1) {
    display: inline;
  }
}

.header__logo {
  @media (min-width: $medium-viewport-width) {
    margin-right: 66px;
  }

  @media (min-width: $large-viewport-width) {
    margin-right: 109px;
  }
}

.header__actions-list--nav-opened .header__login-button-text {
  display: inline;
}

.header__actions-list {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
  top: -2px;
  margin: 0;
  padding: 0;
  width: 140px;
  list-style: none;

  @media (min-width: $medium-viewport-width) {
    top: -4px;
    width: 30px;
  }

  @media (min-width: $large-viewport-width) {
    top: 0;
    padding-top: 7px;
  }

  @media (min-width: $large-viewport-width-1) {
    width: 203px;
    margin-right: 2px;
  }
}

.header__actions-list--nav-opened {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  font: inherit;
}

.header__actions-list--nav-opened .header__actions-item {
  border-bottom: 1px solid $color-gray-1;
  padding-top: 21px;
  padding-bottom: 19px;
  padding-left: 15px;
}
