@import "../../assets/sass/variables.scss";

.checkbox {
  box-sizing: border-box;
  display: block;
  position: relative;
  padding: 0;
  padding-left: 24px;
  min-height: 16px;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $medium-viewport-width) {
    font-size: 16px;
    line-height: 22px;
  }

  &::before {
    box-sizing: border-box;
    position: absolute;
    top: 2px;
    left: 0;
    border: 1px solid $color-accent;
    width: 16px;
    height: 16px;
    content: "";
  }

  &:not(:checked) {
    &::before {
      background-color: $color-accent;
      background-image: url("./mark.svg");
      background-size: 8px 6px;
      background-repeat: no-repeat;
      background-position: 3px 4px;
    }
  }

  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }

}
