@import "../../assets/sass/variables.scss";

.proposition {
  box-sizing: border-box;
  padding: 35px 16px 40px 15px;
  background-color: $color-light-4;
  min-height: 433px;

  @media (min-width: $medium-viewport-width) {
    min-height: 389px;
    padding: 52px 60px 60px;
  }

  @media (min-width: $large-viewport-width) {
    padding-left: 59px;
  }
}

.proposition__title {
  margin: 0;
  margin-bottom: 23px;
  padding: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;

  @media (min-width: $medium-viewport-width) {
    font-size: 22px;
    line-height: 31px;
  }
}

.proposition__list {
  margin: 0;
  margin-bottom: 28px;
  padding: 0;

  @media (min-width: $medium-viewport-width) {
    display: grid;
    grid-template-columns: minmax(178px, 1fr) 2fr;
    column-gap: 49px;
    row-gap: 13px;
    align-items: flex-start;
    margin-bottom: 18px;
  }
}

.proposition__list-item {
  display: flex;
  flex-direction: column-reverse;

  &:not(:last-child) {
    margin-bottom: 13px;
  }

  &:nth-last-child(2) {
    margin-bottom: 16px;
  }
}

.proposition__term {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
  color: $color-dark-2;

  @media (min-width: $medium-viewport-width) {
    font-size: 16px;
    line-height: 22px;
  }
}

.proposition__definition {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;

  @media (min-width: $medium-viewport-width) {
    margin-bottom: 3px;
    font-size: 22px;
    line-height: 31px
  }
}

.proposition__button {
  display: block;
  width: 100%;
}
