@import "../../assets/sass/variables.scss";

.button-primary {
  border-radius: 4px;
  border: none;
  padding: 12px 20px 14px;
  background-color: $color-accent;
  color: $color-light;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  @media (min-width: $medium-viewport-width) {
    font-size: 18px;
    line-height: 21px;
  }
}

.button-primary--big {
  padding: 19px 25px 17px;

  @media (min-width: $medium-viewport-width) {
    padding: 20px 25px 19px;
  }
}

.button-primary--wide {
  display: block;
  width: 100%;
}
