// Breakepoints
$small-viewport-width: 320px;
$small-viewport-width-1: 440px;
$small-viewport-width-2: 540px;
$medium-viewport-width: 768px;
$medium-viewport-width-1: 927px;
$large-viewport-width: 1024px;
$large-viewport-width-1: 1139px;
$large-viewport-width-2: 1300px;
$extra-large-viewport-width: 1920px;

// Pddings
$small-viewport-padding: 15px;
$medium-viewport-padding: 45px;
$large-viewport-padding: 73.46px;
$extra-large-viewport-padding: 370px;

// Wrapper widths
$small-wrapper-width: $small-viewport-width - $small-viewport-padding * 2;
$medium-wrapper-width: $medium-viewport-width - $medium-viewport-padding * 2;
$large-wrapper-width: $large-viewport-width - $large-viewport-padding * 2;
$extra-large-wrapper-width: $extra-large-viewport-width - $extra-large-viewport-padding * 2;

// Colors
$color-dark: #1f1e25;
$color-dark-1: rgba(88, 87, 87, 0.6);
$color-dark-2: #394959;
$color-dark-3: rgba(32, 39, 179, 0);
$color-dark-4: rgba(56, 65, 255, 0);
$color-dark-5: #2b3c4f;
$color-dark-6: #4c4b51;
$color-light: #f6f7ff;
$color-light-1: #e0e1ea;
$color-light-2: #dde2ec;
$color-light-3: #e7f1fd;
$color-light-4: #f6f7ff;
$color-light-5: #e5e5e5;
$color-light-6: #e0e0e0;
$color-light-light: #ffffff;
$color-gray: #707c87;
$color-gray-1: #c1c2ca;
$color-gray-2: #c4c4c4;
$color-accent: #2c36f2;
$color-accent-1: #2028b6;
$color-accent-2: #3841ff;
$color-accent-3: #2027b3;


